doctype
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="icon" type="image/png" href="images/favicon-32x32.png")
        link(rel="icon" type="image/png" href="images/favicon.png")
        link(rel="stylesheet", href="css/styles.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap")
        title social
    body
      main.container
        header.header
          .header--containslogo
            img(src="images/logo.svg" alt="logo").header--containslogo__logo
        div.photo
         img(src="/images/hero-desktop.jpg" alt="photo" id="imgLogo").photo--imagen 
        section.description
         .description--divinfo
            h1.description--divinfo__title  #[span we're]  coming soon
            p.description--divinfo__parrafo   Hello fellow shoppers!  span We're currently building our new fashion store. Add your email below to stay up-to-date with announcements and our launch deals.
         form.description--form#form
           .description--form--slide
            input( type="text" id="email" placeholder="Email Address").description--form--slide__inputicons
            button(type="submit" id="idbutton").description--form--slide__containsarrow
              img(src="images/icon-arrow.svg" alt="arrow" id="arrow").description--form--slide__containsarrow__arrow
           .containerError
            p.containerError--messageError#messageError

      script(src="js/scripts-min.js")