
.container{
    display: grid;
    grid-template-areas:
     "header"
     "photo"
     "description"
    ;
    grid-template-columns: 1fr;

}
.header{
    grid-area: header;
    height: 110px;
    display:grid;
    grid-template-columns: 1fr; 
    align-items: center;
    padding-left: 3rem;
    &--containslogo{
        min-width: 100%;
    }
}
.photo{
   grid-area: photo;
   &--imagen{
       width: 100%;
       display: block;
       margin: 0;
   }
}
.description{
  grid-area: description;

  &--divinfo{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin: 0 2rem;
   

    &__title{
        text-align: center;
        font-size: 2.5rem;
        color:var(--neutralDarkGrayishRed);
        text-transform: uppercase;
        letter-spacing: 0.8rem;
        font-family: 'Josefin Sans' Arial, Helvetica, sans-serif;
        font-weight: 600;

        span{
            display: block;
            color: var(--primaryDesatured);
            font-weight: 300;
        }
    }

    &__parrafo{
        color: var(--primaryDesatured);
        font-size: 16px;
        text-align: justify;
        font-family: 'Josefin Sans' Arial, Helvetica, sans-serif;
        font-weight: 400;
        margin:0 1rem;

    }
  }

}

/*media query*/
@media screen and (min-width: 768px){
    .container{
        grid-template-areas:
        "header photo"
        "description photo"
        "description photo"
       ;
       grid-template-columns:60% 40%;
       grid-template-rows: 100px 1fr 1fr ;
    }
}





@media screen and (min-width:1440px){

}